<app-navbar-cliente></app-navbar-cliente>
<section class="vh-100" style="background-color: #2714cc;">
    <div class="container py-5 h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem; max-height: 500px; overflow: scroll; ">

                    <div class="card-header text-center">
                        <h3 class="header text-primary"></h3>
                        <span class="h6 fw-bold mb-0 text-center"></span>
                    </div>
                    <div class="row g-0 ">
                        <div class="col-md-6 col-lg-7 d-flex">
                            <div class="card-body text-black ">
                                <form>
                                    <label class="text-primary" for="cc"></label>

                                    <div class="form-group">
                                        <div class="col-md-8">
                                            
                                        </div>
                                    </div>
                                    <label class="text-primary" for="titulo"></label>
                                    <div class="form-group text-center">
                                        <div class="col-md-8">
                                           
                                        </div>
                                    </div>
                                    <label class="text-primary" for="autor"></label>
                                    <div class="form-group">
                                        <div class="col-md-8">
                                           
                                        </div>
                                    </div>
                                    <label class="text-primary" for="editorial"></label>
                                    <div class="form-group">
                                        <div class="col-md-8">
                                        
                                        </div>
                                    </div>
                                    <label class="text-primary" for="fechaPublicacion"></label>
                                    <div class="form-group">
                                        <div class="col-md-8">
                                         
                                        </div>
                                    </div>
                                    <br>
                                    <label class="text-primary" for="descripcion"></label>
                                    <p class="card-text text-center"></p>

                                    <label for=""></label>
                                    <div class="form-group">
                                        <div class="pt-1 mb-4">
                                            <button type="submit" class="btn btn-dark btn-lg btn-primary">Pedir</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>